<h1 class="display-2 text-center">Users Account Management</h1>

<div class="jumbotron jumbotron-fluid">
    <div class="row">
        <div class="d-flex flex-column col">
            <div class="container">
                <h1 class="display-4" style="text-align: center;">Manage Account</h1>
                <p class="lead">See all Users account - Reset passwords</p>
            </div>
            <hr class="my-4">
            <a asp-controller="Admin" asp-action="Users" class="btn btn-primary">Go to Users list</a>
        </div>

        <div class="d-flex flex-column col">
            <div class="container">
                <h1 class="display-4" style="text-align: center;">Approving Genre</h1>
                <p class="lead">See all Genre Pending - Approving</p>
            </div>
            <hr class="my-4">
            <a asp-controller="Admin" asp-action="GenreList" class="btn btn-primary">Go to Genre list</a>
        </div>
    </div>
</div>

